make-blueprints/04-get-results.json
{
    "name": "Website Detection - Get Results URL",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3912860,
                "maxResults": 100
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "GET_RESULTS_URL"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 13734578
            },
            "mapper": {
                "base": "appgyHtu4tSQxWCvz",
                "sort": [
                    {
                        "field": "Last Modified",
                        "direction": "desc"
                    }
                ],
                "table": "tblux7nvqO6Yg9t88",
                "fields": [
                    "URL",
                    "Status",
                    "Source",
                    "Client",
                    "demo_archived",
                    "Created",
                    "Last Modified",
                    "Review Agent Output",
                    "Infringement Type",
                    "Risk Score",
                    "Confidence Score",
                    "Evidence Strength",
                    "Key Signals",
                    "Reasoning",
                    "Reasoning Summary",
                    "Decision",
                    "Needs More Evidence",
                    "Decision Version",
                    "Run ID",
                    "Decision Rationale",
                    "Recommended Action",
                    "Review Timestamp",
                    "Screenshot",
                    "HTML Snippet",
                    "Page Title",
                    "H1",
                    "Meta Description",
                    "Visible Text Excerpt",
                    "Price Snippets",
                    "Canonical URL",
                    "Evidence Last Captured",
                    "Registrar Name",
                    "Registrant Email",
                    "Name Servers",
                    "Detected Text (OCR)",
                    "Takedown Status",
                    "Takedown Method",
                    "Notes",
                    "Case",
                    "Takedowns",
                    "SERP Title",
                    "SERP Snippet",
                    "SERP Position",
                    "Keyword Used",
                    "Policy ID Used",
                    "Policy Version Used",
                    "Thresholds Used"
                ],
                "formula": "AND(\n  {fldyLgFCy53QELtqa} = \"{{1.runId}}\",\n  {demo_archived} != TRUE()\n)",
                "maxRecords": "100",
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Website AI Agent IP Check"
                        },
                        "sort": {
                            "mode": "chose",
                            "items": [
                                {
                                    "field": {
                                        "mode": "chose",
                                        "label": "Last Modified"
                                    },
                                    "direction": {
                                        "mode": "chose",
                                        "label": "Descending"
                                    }
                                }
                            ]
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Sightings Overview"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "URL",
                                "Status",
                                "Source",
                                "Client",
                                "demo_archived",
                                "Created",
                                "Last Modified",
                                "Review Agent Output",
                                "Infringement Type",
                                "Risk Score",
                                "Confidence Score",
                                "Evidence Strength",
                                "Key Signals",
                                "Reasoning",
                                "Reasoning Summary",
                                "Decision",
                                "Needs More Evidence",
                                "Decision Version",
                                "Run ID",
                                "Decision Rationale",
                                "Recommended Action",
                                "Review Timestamp",
                                "Screenshot",
                                "HTML Snippet",
                                "Page Title",
                                "H1",
                                "Meta Description",
                                "Visible Text Excerpt",
                                "Price Snippets",
                                "Canonical URL",
                                "Evidence Last Captured",
                                "Registrar Name",
                                "Registrant Email",
                                "Name Servers",
                                "Detected Text (OCR)",
                                "Takedown Status",
                                "Takedown Method",
                                "Notes",
                                "Case",
                                "Takedowns",
                                "SERP Title",
                                "SERP Snippet",
                                "SERP Position",
                                "Keyword Used",
                                "Policy ID Used",
                                "Policy Version Used",
                                "Thresholds Used"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrNZrEbImPW4456n)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldkBNYiJ6n6Ydo91",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "fldrPXMzV82Du1Usp",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "fldQtvRmicvFyBTHg",
                        "type": "text",
                        "label": "Source"
                    },
                    {
                        "name": "fldhVrC1DdCRB9A0X",
                        "type": "text",
                        "label": "Client"
                    },
                    {
                        "name": "fldfn0yw3CmH9cbCz",
                        "type": "boolean",
                        "label": "demo_archived"
                    },
                    {
                        "name": "fldutuPeX5DTDcERt",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "fldkawXV4EvAc455X",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "fldor2SsDtk0ysKpa",
                        "type": "text",
                        "label": "Review Agent Output",
                        "multiline": true
                    },
                    {
                        "name": "flddP2LuFx4CZW2Ne",
                        "type": "text",
                        "label": "Infringement Type"
                    },
                    {
                        "name": "fld7RwVPnWNNdTOWe",
                        "type": "number",
                        "label": "Risk Score"
                    },
                    {
                        "name": "fldkxi92Pb3YM9NmM",
                        "type": "number",
                        "label": "Confidence Score"
                    },
                    {
                        "name": "fldDOQ7iChiCrpENy",
                        "type": "text",
                        "label": "Evidence Strength"
                    },
                    {
                        "name": "fldr2Rg7BTev70Tpx",
                        "type": "text",
                        "label": "Key Signals",
                        "multiline": true
                    },
                    {
                        "name": "fldSIpNZQamuAYs27",
                        "type": "text",
                        "label": "Reasoning",
                        "multiline": true
                    },
                    {
                        "name": "fldawLOToq7h3dNcA",
                        "type": "text",
                        "label": "Reasoning Summary",
                        "multiline": true
                    },
                    {
                        "name": "fld3yMPc1HmAdPX7x",
                        "type": "text",
                        "label": "Decision"
                    },
                    {
                        "name": "fldoChZ7yoaVlsC9a",
                        "type": "boolean",
                        "label": "Needs More Evidence"
                    },
                    {
                        "name": "fldnM7ugda7p3xR4Y",
                        "type": "text",
                        "label": "Decision Version"
                    },
                    {
                        "name": "fldyLgFCy53QELtqa",
                        "type": "text",
                        "label": "Run ID"
                    },
                    {
                        "name": "fldvVEh10k0XoYpWL",
                        "type": "text",
                        "label": "Decision Rationale",
                        "multiline": true
                    },
                    {
                        "name": "fldLJOCv8NGLISkPo",
                        "type": "text",
                        "label": "Recommended Action"
                    },
                    {
                        "name": "fldKuVjkGJbYyOHuo",
                        "time": true,
                        "type": "date",
                        "label": "Review Timestamp"
                    },
                    {
                        "name": "fldaRDyUSZU114bjZ",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Screenshot"
                    },
                    {
                        "name": "fldIb1jeBAZ00gCqT",
                        "type": "text",
                        "label": "HTML Snippet",
                        "multiline": true
                    },
                    {
                        "name": "fldFmBDxUD0XxYkyI",
                        "type": "text",
                        "label": "Page Title"
                    },
                    {
                        "name": "fldm2OauCVZasswN8",
                        "type": "text",
                        "label": "H1"
                    },
                    {
                        "name": "fldNkTeFe5YI4u6xD",
                        "type": "text",
                        "label": "Meta Description",
                        "multiline": true
                    },
                    {
                        "name": "fldySvzdIJ0x1Zgfc",
                        "type": "text",
                        "label": "Visible Text Excerpt",
                        "multiline": true
                    },
                    {
                        "name": "fld8sj72479sfsZyC",
                        "type": "text",
                        "label": "Price Snippets",
                        "multiline": true
                    },
                    {
                        "name": "fldGWTObx7EVMTFyw",
                        "type": "text",
                        "label": "Canonical URL"
                    },
                    {
                        "name": "fld8YdzCtyGILD6EI",
                        "time": true,
                        "type": "date",
                        "label": "Evidence Last Captured"
                    },
                    {
                        "name": "fldVIgy8dwrCtx52C",
                        "type": "text",
                        "label": "Registrar Name"
                    },
                    {
                        "name": "fldJschR6UYu1wgkR",
                        "type": "text",
                        "label": "Registrant Email"
                    },
                    {
                        "name": "fld9yzPfgtedHkR7b",
                        "type": "text",
                        "label": "Name Servers",
                        "multiline": true
                    },
                    {
                        "name": "fldRbfX5lP3W2dddZ",
                        "type": "text",
                        "label": "Detected Text (OCR)",
                        "multiline": true
                    },
                    {
                        "name": "fldqxlweV9XbYNAG8",
                        "type": "text",
                        "label": "Takedown Status"
                    },
                    {
                        "name": "fld3zissrUgvJTcWY",
                        "type": "text",
                        "label": "Takedown Method"
                    },
                    {
                        "name": "fldYkvzeyb4wwu2md",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "fldCrMA5LPwVgqsei",
                        "type": "text",
                        "label": "Case"
                    },
                    {
                        "name": "fldtjxTvkcIEOWqVP",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Takedowns"
                    },
                    {
                        "name": "fldRofyu3HM0vKm9l",
                        "type": "text",
                        "label": "SERP Title"
                    },
                    {
                        "name": "fldA1pUYhAg5wa8j0",
                        "type": "text",
                        "label": "SERP Snippet",
                        "multiline": true
                    },
                    {
                        "name": "fld24tMeYHRktPpOE",
                        "type": "number",
                        "label": "SERP Position"
                    },
                    {
                        "name": "fldnDvVwvNauCfW5T",
                        "type": "text",
                        "label": "Keyword Used"
                    },
                    {
                        "name": "fldewhmvHAUWK242u",
                        "type": "text",
                        "label": "Policy ID Used"
                    },
                    {
                        "name": "fldebVyo5ToCyOVrO",
                        "type": "text",
                        "label": "Policy Version Used"
                    },
                    {
                        "name": "fld4mSdu785I78XPc",
                        "type": "text",
                        "label": "Thresholds Used",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 2
            },
            "mapper": {
                "id": "{{2.id}}",
                "fld7RwVPnWNNdTOWe": "{{2.fld7RwVPnWNNdTOWe}}",
                "fldLJOCv8NGLISkPo": "{{2.fldLJOCv8NGLISkPo}}",
                "fldawLOToq7h3dNcA": "{{2.fldawLOToq7h3dNcA}}",
                "flddP2LuFx4CZW2Ne": "{{2.flddP2LuFx4CZW2Ne}}",
                "fldkBNYiJ6n6Ydo91": "{{2.fldkBNYiJ6n6Ydo91}}",
                "fldkxi92Pb3YM9NmM": "{{2.fldkxi92Pb3YM9NmM}}",
                "fldrPXMzV82Du1Usp": "{{2.fldrPXMzV82Du1Usp}}"
            },
            "metadata": {
                "designer": {
                    "x": 535,
                    "y": 152
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Airtable - Search Records [2]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                },
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 548258,
                "space": ""
            },
            "mapper": {
                "results": "{{10.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 835,
                    "y": 152
                },
                "restore": {
                    "expect": {
                        "results": {
                            "mode": "edit",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "type": {
                            "label": "SearchResultsResponse"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "results",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": null
                                },
                                {
                                    "name": "URL",
                                    "type": "text",
                                    "label": null
                                },
                                {
                                    "name": "Status",
                                    "type": "text",
                                    "label": null
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": null
                    },
                    {
                        "name": "results",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": null
                                },
                                {
                                    "name": "URL",
                                    "type": "text",
                                    "label": null
                                },
                                {
                                    "name": "Status",
                                    "type": "text",
                                    "label": null
                                },
                                {
                                    "name": "Risk Score",
                                    "type": "number",
                                    "label": null
                                },
                                {
                                    "name": "Confidence Score",
                                    "type": "number",
                                    "label": null
                                },
                                {
                                    "name": "Infringement Type",
                                    "type": "text",
                                    "label": null
                                },
                                {
                                    "name": "Reasoning Summary",
                                    "type": "text",
                                    "label": null
                                },
                                {
                                    "name": "Recommended Action",
                                    "type": "text",
                                    "label": null
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": null
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 12,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{11.json}}",
                "status": "200",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1135,
                    "y": 152
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}